/*--------------------------------Login page--------------------------------*/
.title{
    text-align: center;
}

.fb{
    max-height: 4rem;
}

#form-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
}

#login-container {
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 5px 10px 5px 5px #888888;
    margin: 2rem;
    background-color: #f0f2f5;
    flex: 0 1 15%;
}

#signup-container {
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 5px 10px 5px 5px #888888;
    margin: 2rem;
    background-color: #f0f2f5;
    flex: 0 1 15%;
}

input {
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding: 12px;
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #e8f0fe;
}

.form-btn{
    color: #f0f2f5;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    background-color: #4967a9;
    cursor: pointer;
}

.form-btn:hover{
    background-color: #344a7a;
}

 @media only screen and (max-width: 500px) {
 
   .content{
       width: fit-content;
   }
} 