.post-container {
  margin-top: 15px;
  background-color: white;
  transition: background 0.6s ease;
  border-radius: 10px;
  padding: 20px 35px 20px 35px;
}

.post-box {
  width: 100%;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  resize: none;
  margin-bottom: 20px;
  font-size: large;
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}

.post h3 {
  flex: 2;
  font-size: large;
  font-weight: 600;
  text-align: start;
  padding-left: 25px;
}

.post p {
  color: #1fa2ff;
  text-align: end;

}

hr{
    margin-bottom: 15px;
}
.post-img {
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.541);

}

.like {
    color: #49b3e9;
    font-size: x-large;
}
.dislike {
    color: rgb(255, 92, 92);
    font-size: x-large;
}
.post-container span {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}