<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/nav-bar.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <link rel="stylesheet" href="../css/people-u-may-know.css" />
    <link rel="stylesheet" href="../css/status-box.css" />
    <link rel="stylesheet" href="../css/post-box.css" />
    <link rel="stylesheet" href="../css/modals/search-modal.css" />
    <link rel="stylesheet" href="../css/modals/friends-modal.css" />
    <link rel="stylesheet" href="../css/modals/blocked-modal.css" />
    <link rel="stylesheet" href="../css/modals/my-posts-modal.css" />
    <link rel="stylesheet" href="../css/modals/Requests-modal.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <title>Pocket World</title>
  </head>
  <body>
    <!-- my navbar -->
    <nav class="fixed-nav-bar">
      <div id="menu" class="menu">
        <a class="sitename"><span>Pocket</span> World</a>
        <a class="show" href="#menu">Menu</a>
        <a class="hide" href="#hidemenu">Menu</a>
        <a href="">
          <a href="#srch-modal" class="search_button"
            ><i class="fas fa-search"></i>Search for Friends</a
          >
        </a>

        <ul class="menu-items">
          <li>
            <a href=" "><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="special">
            <a href="#srch-modal"><i class="fas fa-search"></i> Search</a>
          </li>
          <li>
            <a href="#myRequests-modal"><i class="fas fa-bell"></i> Requests</a>
          </li>
          <li>
            <a href="#myPosts-modal"
              ><i class="fas fa-user-circle"></i> My Posts</a
            >
          </li>
          <li>
            <a id="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- 3 columns wrapper -->
    <div class="wrapper">
      <!-- left sidebar: profile section -->
      <div class="left_column">
        <div class="container">
          <div class="profile">
            <img
              src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w"
              class="thumbnail"
            />

            <!-- <form id="myForm">
              <input type="file" id="inpFile"><br>
              <button type="submit"> UPLOAD</button>
            </form> -->

            <h3 class="name" id="username">Beverly Little</h3>
            <p class="email" id="user-email">example@gmail.com</p>
          </div>

          <div class="social-icons">
            <div class="icon">
              <a href="#frnd-modal"><i class="fas fa-users"></i></a>
              <h4>Friends</h4>
              <p id="friend-count">12.8k</p>
            </div>

            <div class="icon">
              <a href="#blocked-modal"><i class="fas fa-ban"></i></a>
              <h4>Blocked</h4>
              <p id="blocked-count">320</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of left sidebar: profile section -->

      <!-- middle section : post feed -->
      <div class="middle_column">
        <!-- update status/ make a post -->
        <div class="status-container">
          <h4 class="status-title">Status Update</h4>
          <textarea
            class="status-box"
            rows="2"
            placeholder="What's on your mind?"
            id="post-text"
          ></textarea>
          <button class="post-button" id="post-button">Post</button>
        </div>
        <div id="post1"></div>

        <!--end of middle section : post feed -->

        <!-- right side bar :  People you may know-->
        <div class="right_column">
          <div class="container">
            <div class="heading">People you may know</div>
            <div id="random-container"></div>
          </div>
        </div>
      </div>
      <!-- end of right side bar :  People you may know-->

      <!-- my modals -->

      <!-- search modal -->
      <div id="srch-modal" class="search-modal">
        <div class="search-modal__content">
          <div class="search-header">
            <h2>Search for potential Friends</h2>

            <input class="search-box" type="text" id="search-key" placeholder="search..." />
            <button class="search-button" id="searchBtn">
              <i class="fas fa-search"></i>Search
            </button>
            <hr />
            <a href="#" class="search-modal__close">
              <i class="fas fa-times-circle"></i>
            </a>
          </div>

          <div id="searched-people"></div>
       
        </div>
      </div>
      <!-- end of search modal -->

      <!-- my friends list modal -->
      <div id="frnd-modal" class="friends-modal">
        <div class="friends-modal__content">
          <div class="myfriends-header">
            <h1>My Friends List</h1>
            <hr/>
            <a href="#" class="friends-modal__close"
              ><i class="fas fa-times-circle"></i
            ></a>
          </div>

          <div id="friends"></div>
        </div>
      </div>
      <!-- end of my friends list modal -->

      <!-- my block list modal -->
      <div id="blocked-modal" class="friends-modal">
        <div class="friends-modal__content">
          <div class="blocked-header">
            <h1>My blocked List</h1>
            <hr />
            <a href="#" class="friends-modal__close"
              ><i class="fas fa-times-circle"></i
            ></a>
          </div>
          <div id="blocked-users"></div>
 
        </div>
      </div>
      <!-- end of my block list modal -->

      <!-- my posts modal -->
      <div id="myPosts-modal" class="my-posts-modal">
        <div class="my-posts-modal__content">
          <div class="myposts-header">
            <h1>My posts List</h1>
            <hr />
            <a href="#" class="my-posts-modal__close"
              ><i class="fas fa-times-circle"></i
            ></a>
          </div>

          <!-- a post -->
         <div id="myPosts">
         </div>
        </div>
      </div>
    </div>

    <!-- my requests modal -->
    <div id="myRequests-modal" class="my-requests-modal">
      <div class="my-requests-modal__content">
        <div class="my-requests-header">
          <h1>My Requests</h1>
          <hr />
          <a href="#" class="my-requests-modal__close"
            ><i class="fas fa-times-circle"></i
          ></a>
        </div>

        <!-- a requests -->
        <div id="friend-request"></div>
      </div>
    </div>
    <!-- end of requests -->

    <script src="../scripts/script-home.js"></script>
  </body>
</html>
