.search-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.search-modal:target {
  visibility: visible;
  opacity: 1;
}

.search-modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}

.search-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
#srch-modal > div > div > h3{
  font-size: 18px !important;
  text-align: start;
  padding-left: 20px;
  font-weight: 400;
}

#srch-modal > div > div > img{
  width: 70px;
  height: 70px;
}

.add{
  text-decoration: none;
  border: 0;

  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );

  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.added{
  visibility: hidden;
  padding: 0;

}
.added::after{
  margin-top: -15px;
  cursor: not-allowed;
  pointer-events: none;
  visibility: visible;
  text-decoration: none;
  border: 0;
  content: "request sent ";
  background-image: linear-gradient(
    to right,
    #41e664 0%,
    #39db46 51%,
    #23ff52 100%
  
  );

  padding: 8px 12px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

}

.add:hover {
  background-position: right center;
  cursor: pointer;
  color: #fff;
}


@media only screen and (max-width: 800px) {
  #srch-modal > div > div > h3{
    font-size: 15px !important;

  }
  #frnd-modal > div > div:nth-child(1) > a > i {
    font-size: large;
  }
  .add , .added{
    font-size: 10px;
}
}